<div class="row text-center">
  <div class="col-md-12">
    <h2>Find developers in your city</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-md-offset-3">
    <div class="form-inline">
      <input placeholder="Place Name e.g. Ensenada" class="form-control input-lg input" #place (keyup.enter)="search(place.value, language.value); place.value=''; language.value='';" />
      <input placeholder="Language e.g. Java" class="form-control input-lg input" #language (keyup.enter)="search(place.value, language.value); place.value=''; language.value='';" />
      <button class="btn btn-primary btn-lg" (click)="search(place.value, language.value); place.value=''; language.value='';">Search</button>
    </div>
  </div>
</div>
